In [2]:
import sqlite3 as sql
import pandas as pd

In [3]:
connection=sql.connect('Ourdatabase.db')

In [4]:
cursor=connection.cursor()

In [6]:
cursor.execute("create table purchases(store_id integer primary key,location TEXT)")

In [7]:
query =''' select* from stores'''

df=pd.read_sql_query(query,connection)

df.head()

Empty DataFrame
Columns: [store_id, location]
Index: []

In [8]:
cursor.execute("insert into stores values(1,'london')")

In [9]:
cursor.execute("select* from stores")
res=cursor.fetchall()
print(res)

[(1, 'london')]

In [10]:
connection.commit()

In [ ]:
cursor.close()
connection.close()